<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{1} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <property resource="logback.properties" />

    <timestamp key="bySecond" datePattern="yyyyMMddHHmmss" />

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <discriminator>
            <Key>loggerFileName</Key>
            <DefaultValue>unknown</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${loggerFileName}" class="ch.qos.logback.core.FileAppender">
                <File>/logs/${loggerFileName}_${bySecond}.log</File>
                <Append>false</Append>
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="com.datamountaineer.ingestor.utils.CustomLogLayout" />
                </encoder>
            </appender>
        </sift>
    </appender>


    <logger name="akka" level="INFO"/>
    <logger name="scala.slick" level="INFO"/>
    <logger name="com.datamountaineer" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="SIFT" />
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>